workflows/example.json
{
  "name": "Example",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.thecatapi.com/v1/images/search?limit=5",
        "options": {}
      },
      "id": "fetch-cat-urls",
      "name": "Fetch Cat URLs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "url": "https://api.thedogapi.com/v1/images/search?limit=5",
        "options": {}
      },
      "id": "fetch-dog-urls",
      "name": "Fetch Dog URLs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "combine-urls",
      "name": "Combine URLs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [750, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-images",
      "name": "Download Images",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Cat URLs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Dog URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Cat URLs": {
      "main": [
        [
          {
            "node": "Combine URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Dog URLs": {
      "main": [
        [
          {
            "node": "Combine URLs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine URLs": {
      "main": [
        [
          {
            "node": "Download Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "example"
  },
  "id": "example"
}